@charset "UTF-8";
.poppins-thin {
    font-family: "Poppins", sans-serif;
}
.navbar{
    background-color: rgb(255, 255, 255);
}
.li-items{
    color: aliceblue;
}
.ctn_btn{
    width:20rem;
    height:4rem;
    margin:10px;
    border: 2px solid black;
    border-radius:30px;
}
.more_btn{
    width:35rem;
    height:4rem;
    border: 2px solid black;
    border-radius:30px;
    margin-left:17rem;
}
.skills div{
    display: flex;
    flex-direction:column;
}
.skills{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.main-1{
    margin:2.2rem;
    width:100%;
    display: flex;
    justify-content:space-evenly;
}

@media (max-width: 576px){
    .accordion-item{
        width: 100% !important;
    }
}
@media (min-width: 576.1px) and (max-width: 576px){
    .accordion{
        width: 100% !important;
    }
}

.main-1{
    font-size: large;
    border-radius: 20px;
    border:2px solid black;
}